<p id="notice"><%= notice %></p>

<p>
  <b>Purchase number:</b>
  <%= @purchase.purchase_number %>
</p>

<p>
  <b>User:</b>
  <%= @purchase.user%>
</p>

<p>
  <b>Fruit:</b>
  <%= @purchase.fruit%>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
